@import 'pages/variables';
@import 'pages/normalize';
@import 'pages/global';
@import 'pages/layout';
@import 'pages/typography';

@import 'pages/hero';
@import 'pages/homepage';
@import 'pages/finder';