.finder {
  display: none;
  margin-top: -27.5%;
}

.finder__text-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .finder__text {
    font-size: $image-box-title;
    font-weight: $font-bold;
    letter-spacing: 6px;
    margin-bottom: 15px;
  }

  .finder__sub-text {
    font-size: $image-box-sub-title;
    line-height: 27px;
    letter-spacing: 4px;
  }
}

.finder__text-container.mobile {
  display: none;
}

.finder__grid-wrapper {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.finder__grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: repeat($grid-rows, 1fr);
  height: 100%;
  width: 100%;
  border: 2px solid $grid-border-color;


  .square {
    border: 1px solid $grid-border-color;
    cursor: pointer;

  }

  .square.selected {
    background-color: $color-tile-selected;
  }

  .square.selectable {
    background-color: $color-tile-selectable;
  }

  .square.start {
    background-color: $color-tile-green;
  }

  .square.end {
    background-color: $color-tile-red;
  }

  .square.selected.solution {
    background-color: $color-tile-green;
  }

  .square.disabled {
    cursor: not-allowed;
  }
}

.btn-finder-wrapper {
  text-align: center;

  .btn-finder {
    margin-top: 50px;
  }
}


.summary__modal {
  width: 40%;
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  top: 85%;
  border: none;

  .summary__modal-close-btn {
    cursor: pointer;
    font-size: 25px;
    float: right;
    background-color: transparent;
    border: none;
  }

  .summary__modal-title {
    font-size: $modal-title-text-size;
    text-align: center;
    letter-spacing: 2px;
  }

  .summary__modal-text-container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15%;
    font-size: $modal-text-size;

    h4 {
      font-weight: $font-very-bold;
      display: inline-block;
      margin: 1.5% 0;
    }

    .number {
      margin: 0 2.5%;
      font-weight: $font-very-bold;
    }

    #longest-route-number,
    #full-route-number {
      color: $color-tile-selected;
    }

    #shortest-route-number {
      color: $color-tile-green;
    }
  }
}

.summary__modal::backdrop {
  background-color: $backdrop-background-color;
}


@media only screen and (max-width: $media-query-md) {

  .finder {
    margin-top: -40%;
  }

  .desktop {
    display: none;
  }

  .finder__text-container.mobile {
    display: block;
    margin: 10%;
  }

  .finder__text-container {
    .finder__text {
      font-size: $image-box-title-sm;
      font-weight: $font-bold;
      letter-spacing: 3px;
      margin-bottom: 15px;
    }

    .finder__sub-text {
      font-size: $image-box-sub-title-sm;
      line-height: 27px;
      letter-spacing: 2.5px;
    }
  }

}