.finder {
  display: none;
  margin-top: -27.5%;
}

.finder__text-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .finder__text {
    font-size: $image-box-title;
    font-weight: $font-bold;
    letter-spacing: 6px;
    margin-bottom: 15px;
  }

  .finder__sub-text {
    font-size: $image-box-sub-title;
    line-height: 27px;
    letter-spacing: 4px;
  }
}

.finder__text-container.mobile {
  display: none;
}

.finder__grid-wrapper {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.finder__grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: repeat($grid-rows, 1fr);
  height: 100%;
  width: 100%;
  border: 2px solid $grid-border-color;


  .square {
    border: 1px solid $grid-border-color;
    cursor: pointer;

  }

  .square.selected {
    background-color: $color-tile-selected;
  }

  .square.selectable {
    background-color: $color-tile-selectable;
  }

  .square.start {
    background-color: $color-tile-green;
  }

  .square.end {
    background-color: $color-tile-red;
  }

  .square.selected.solution {
    background-color: $color-tile-green;
  }

  .square.disabled {
    cursor: not-allowed;
  }
}

.btn-finder-wrapper {
  text-align: center;

  .btn-finder {
    margin-top: 50px;
  }
}


@media only screen and (max-width: $media-query-md) {

  .finder {
    margin-top: -40%;
  }

  .desktop {
    display: none;
  }

  .finder__text-container.mobile {
    display: block;
    margin: 10%;
  }

  .finder__text-container {
    .finder__text {
      font-size: $image-box-title-sm;
      font-weight: $font-bold;
      letter-spacing: 3px;
      margin-bottom: 15px;
    }

    .finder__sub-text {
      font-size: $image-box-sub-title-sm;
      line-height: 27px;
      letter-spacing: 2.5px;
    }
  }

}