body {
  background-color: $background-main;
  font-family: $font-main;
  color: $font-light;
  position: relative;
  height: 200vh;
}

a {
  text-decoration: none;
}

nav {
  text-align: center;
  padding-top: 2.5%;

  a {
    color: $font-light;
    font-weight: $font-semibold;
    font-size: $nav-text-size;
    margin: 0 2.5%;
    letter-spacing: 3px;
  }
}

.page {
  position: relative;
  z-index: 999;
  width: 100%;
}

footer {
  margin: 5%;
  text-align: center;
  font-size: $footer-text-size;
  letter-spacing: 4px;
}