body {
  background-color: $background-main;
  font-family: $font-main;
  color: $font-light;
  position: relative;

}

a {
  text-decoration: none;
}

nav {
  text-align: center;
  padding-top: 2.8%;

  a {
    color: $font-light;
    font-weight: $font-semibold;
    font-size: $nav-text-size;
    margin-right: 2.5%;
    margin-left: 5%;
    letter-spacing: 2px;
  }
}

.page {
  position: relative;
  z-index: 999;
  width: 100%;
}

footer {
  margin: 6% 0;
  font-size: $footer-text-size;
  letter-spacing: 3px;
  text-align: center;
}

.btn-primary {
  border: none;
  color: $font-light;
  background-color: $button-color;
  height: 60px;
  width: 180px;
  font-size: 18px;
  cursor: pointer;
}

.page.active {
  display: block;
}