.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;


  .hero-text-container {
    margin: 10% auto;
    width: fit-content;

    .hero__title {
      letter-spacing: 50px;
      margin-right: -50px; // counter spacing on last letter
      margin-bottom: 20px;
      text-shadow: 0px 0px $title-text-size #000000;
    }

    .hero__sub-title {
      margin: 0;
      letter-spacing: 10px;
      margin-right: -10px; // counter spacing on last letter
      text-align: end;
      text-shadow: 0px 0px $sub-title-text-size #000000;
    }
  }
}

.hero::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(to top, #131313, rgba(0, 0, 0, 0));
}