.homepage {
  display: none;
  margin-top: -21.75%;
  overflow: hidden;
}

.homepage__image-box {
  text-shadow: 0 0 54px rgba(0, 0, 0, 0.26);
  position: relative;
  display: flex;
  margin-bottom: 5.5%;

  .feature {
    font-size: $image-box-title;
    font-weight: $font-bold;
    letter-spacing: 6px;
    margin-bottom: 15px;
  }

  .feature__sub-title {
    font-size: $image-box-sub-title;
    line-height: 27px;
    letter-spacing: 4px;
  }
}

.image-box-left {
  padding-left: 7.75%;


  img {
    width: 617px;
    height: 410px;
  }

  .homepage__image-box_text-container {
    position: absolute;
    bottom: 12%;
    left: 30%;
    text-shadow: 0 0 50px rgba(0, 0, 0, 1);

    .feature {
      letter-spacing: 5px;
      margin-bottom: 12px;
    }

    .feature__sub-title {
      letter-spacing: 3.25px;
    }
  }
}

.image-box-right {

  justify-content: end;
  margin-right: 4%;


  img {
    min-width: 700px;
    width: 68%;
    height: 510px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  }

  .homepage__image-box_text-container {
    position: absolute;
    top: 2.5%;
    left: 12.5%;

    .feature {
      letter-spacing: 5px;
    }

    .feature__sub-title {
      letter-spacing: 3.25px;
    }
  }
}

@media only screen and (max-width: $media-query-lg) {
  .image-box-right {
    img {
      height: auto;
    }
  }
}

@media only screen and (max-width: $media-query-md) {

  .image-box-left {
    padding: 0;

    img {
      max-width: 95%;
      height: auto;
      margin: auto;
    }
  }

  .image-box-right {
    justify-content: center;
    margin-right: 0;

    img {
      width: 95%;
      min-width: 300px;
      height: auto;
    }
  }
}

@media only screen and (max-width: $media-query-sm) {
  .homepage {
    .homepage__image-box_text-container {

      .feature {
        font-size: $image-box-title-sm;
        letter-spacing: 3px;
        margin-bottom: 12px;
      }

      .feature__sub-title {
        font-size: $image-box-sub-title-sm;
        letter-spacing: 2.5px;
      }
    }
  }
}

@media only screen and (max-width: $media-query-xs) {
  .homepage {
    .homepage__image-box_text-container {
      .feature {
        font-size: $image-box-title-xs;
        letter-spacing: 2.5px;
        margin-bottom: 12px;
      }

      .feature__sub-title {
        font-size: $image-box-sub-title-xs;
        letter-spacing: 1.5px;
      }
    }
  }
}