$font-main: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-very-bold: 900;

$font-light: #fff;

$background-main: #131313;

$nav-text-size: 23px;

$title-text-size: 77px;
$sub-title-text-size: 28px;

$image-box-title: 46px;
$image-box-sub-title: 31px;

$footer-text-size: 16px;

$button-color: #C24E00;

// grid size - the number of squares per row/column - requires second change in settings.js
$grid-columns: 10;
$grid-rows: 10;

$grid-border-color: #fff;

$color-tile-selected: #C24E00;
$color-tile-green: #2ECC71;
$color-tile-red: #E74C3C;