$media-query-lg: 900px;
$media-query-md: 760px;
$media-query-sm: 640px;
$media-query-xs: 480px;

$font-main: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-very-bold: 900;

$font-light: #fff;

$background-main: #131313;

$nav-text-size: 23px;
$nav-text-size-xs: 18px;

$title-text-size: 77px;
$title-text-size-lg: 55px;
$title-text-size-sm: 45px;
$title-text-size-xs: 30px;

$sub-title-text-size: 28px;
$sub-title-text-size-lg: 20px;
$sub-title-text-size-sm: 18px;
$sub-title-text-size-xs: 16px;


$image-box-title: 46px;
$image-box-title-sm: 35px;
$image-box-title-xs: 30px;


$image-box-sub-title: 31px;
$image-box-sub-title-sm: 23px;
$image-box-sub-title-xs: 19px;

$modal-title-text-size: 31px;
$modal-text-size: 20px;

$finder-text-size: 36px;


$footer-text-size: 16px;

$button-color: #C24E00;

// grid size - the number of squares per row/column - requires second change in settings.js
$grid-columns: 10;
$grid-rows: 10;

$grid-border-color: #fff;

$color-tile-selected: #C24E00;
$color-tile-green: #2ECC71;
$color-tile-red: #E74C3C;
$color-tile-selectable: rgba(29, 96, 212, 0.465);

$backdrop-background-color: #00000080;