$font-main: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-very-bold: 900;

$font-light: #fff;

$color-tile-selected: #C24E00;
$color-tile-green: #2ECC71;
$color-tile-red: #E74C3C;

$background-main: #131313;

$nav-text-size: 24px;

$title-text-size: 76px;
$sub-title-text-size: 34px;

$image-box-title: 42px;
$image-box-sub-title: 28px;

$footer-text-size: 18px;